/* IBM Plex Sans */
@font-face {
    font-family: "IBM Plex Sans";
    src: url("@assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("@assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}

/* JetBrains Mono  */
@font-face {
    font-family: "JetBrains Mono";
    src: url("@assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("@assets/fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
}

/* Lora */
@font-face {
    font-family: "Lora";
    src: url("@assets/fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("@assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Inter */
@font-face {
    font-family: "Inter";
    src: url("@assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("@assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
